<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.wallet.mapper.order.WalletMoneyMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gt.wallet.entity.WalletMoney">
		<id column="id" property="id" />
		<result column="bus_id" property="busId" />
		<result column="w_member_id" property="wMemberId" />
		<result column="sys_order_no" property="sysOrderNo" />
		<result column="goods_type" property="goodsType" />
		<result column="goods_no" property="goodsNo" />
		<result column="tradeCode" property="tradeCode" />
		<result column="amount" property="amount" />
		<result column="fee" property="fee" />
		<result column="validate_type" property="validateType" />
		<result column="ctime" property="ctime" />
		<result column="pay_method" property="payMethod" />
		<result column="bankCardNo" property="bankCardNo" />
		<result column="bankCardPro" property="bankCardPro" />
		<result column="industry_code" property="industryCode" />
		<result column="industry_name" property="industryName" />
		<result column="visit_source" property="visitSource" />
		<result column="goods_summary" property="goodsSummary" />
		<result column="extendInfo" property="extendInfo" />
		<result column="status" property="status" />
		<result column="pay_fail_message" property="payFailMessage" />
		<result column="account_set_no" property="accountSetNo" />
		<result column="withdraw_type" property="withdrawType" />
		<result column="external_order_no" property="externalOrderNo" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bus_id AS busId, w_member_id AS wMemberId, sys_order_no AS sysOrderNo, goods_type AS goodsType, goods_no AS goodsNo, tradeCode, amount, fee, validate_type AS validateType, ctime, pay_method AS payMethod, bankCardNo, bankCardPro, industry_code AS industryCode, industry_name AS industryName, visit_source AS visitSource, goods_summary AS goodsSummary, extendInfo, status, pay_fail_message AS payFailMessage, account_set_no AS accountSetNo, withdraw_type AS withdrawType, external_order_no AS externalOrderNo
    </sql>

	<select id="getStatisticsByWmemberId" resultType="com.gt.wallet.data.wallet.response.IndexStatistics" >
		SELECT aa.total-(CASE WHEN bb.total IS NULL THEN 0 ELSE bb.total END)    AS total,
		((aa.total-(CASE WHEN bb.total IS NULL THEN 0 ELSE bb.total END)) - (balance-(CASE WHEN bb.total IS NULL THEN 0 ELSE bb.total END))) AS waitBalance,
		(balance-(CASE WHEN bb.total IS NULL THEN 0 ELSE bb.total END)) AS balance
		FROM (SELECT w_member_id,SUM(amount)-SUM(fee) AS total  FROM  `t_wallet_pay_order` WHERE STATUS='success' AND w_member_id=#{wmemberId,jdbcType=INTEGER} 
		) aa LEFT JOIN  (SELECT w_member_id,SUM(amount) as total FROM `t_wallet_money` WHERE  STATUS='success' AND w_member_id=#{wmemberId,jdbcType=INTEGER}  ) bb ON aa.w_member_id=bb.w_member_id
		LEFT JOIN 
		(SELECT w_member_id,SUM(amount)-SUM(fee) AS balance  FROM  `t_wallet_pay_order` WHERE take_state=1 AND STATUS='success'  AND w_member_id=#{wmemberId,jdbcType=INTEGER} 
		) cc ON aa.w_member_id=cc.w_member_id

		
	</select>
</mapper>
