<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.wallet.mapper.order.WalletPayOrderMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.gt.wallet.entity.WalletPayOrder">
		<id column="id" property="id" />
		<result column="bus_id" property="busId" />
		<result column="w_member_id" property="wMemberId" />
		<result column="member_id" property="memberId" />
		<result column="sys_order_no" property="sysOrderNo" />
		<result column="amount" property="amount" />
		<result column="fee" property="fee" />
		<result column="ctime" property="ctime" />
		<result column="industry_code" property="industryCode" />
		<result column="industry_name" property="industryName" />
		<result column="visit_source" property="visitSource" />
		<result column="goods_summary" property="goodsSummary" />
		<result column="status" property="status" />
		<result column="pay_fail_message" property="payFailMessage" />
		<result column="external_no" property="externalNo" />
		<result column="tradeNo" property="tradeNo" />
		<result column="pay_code" property="payCode" />
		<result column="sys_refund_no" property="sysRefundNo" />
		<result column="refund_amount" property="refundAmount" />
		<result column="refund_feeamount" property="refundFeeamount" />
		<result column="refund_external_no" property="refundExternalNo" />
		<result column="acct" property="acct" />
		<result column="submit_no" property="submitNo" />
		<result column="pay_type" property="payType" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bus_id AS busId, 
        w_member_id AS wMemberId, 
        member_id AS memberId, 
        sys_order_no AS sysOrderNo, 
        amount, 
        fee, 
        ctime, 
        industry_code AS industryCode, 
        industry_name AS industryName, 
        visit_source AS visitSource, 
        goods_summary AS goodsSummary, 
        status, 
        pay_fail_message AS payFailMessage, 
        external_no AS externalNo, 
        tradeNo, 
        pay_code AS payCode, 
        sys_refund_no AS sysRefundNo, 
        refund_amount AS refundAmount, 
        refund_feeamount AS refundFeeamount, 
        refund_external_no AS refundExternalNo,
        acct,
        submit_no AS submitNo,
        pay_type AS payType
    </sql>


	<select id="getWithBalance" resultType="Double" >
		SELECT SUM(CASE WHEN  o.amount-o.`refund_amount` >o.`fee` THEN o.amount-o.`refund_amount`-o.`fee`  ELSE o.amount-o.`refund_amount` END) AS withBalance FROM `t_wallet_pay_order` o
	
		WHERE `w_member_id`=#{wmemberId,jdbcType=INTEGER}
		AND STATUS='success' AND <![CDATA[ ctime<#{ctime,jdbcType=INTEGER} ]]>       and   <![CDATA[ take_state <> 3 ]]> 
	</select>
</mapper>
