li {
  list-style-type: none;
}
/**
 * 主体内容容器
 * @gzhidao
 */
.public-content {
  padding: 0 70px 0 60px;
}
/**
   * 顶部面包屑
   * @yanhuiting
   */
.public-crumbs {
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding-left: 60px;
}
/**
   * 顶部tab切换
   * @yanhuiting
   */
.gt-top-tabs {
  position: relative;
}
.el-tabs__header {
  margin-bottom: 20px;
}
/**
   * 顶部tab切换》》》视频教程按钮
   * @yanhuiting
   */
.gt-top-tabs .gt-video-btn {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  z-index: 1;
}
/**
   * 顶部tab切换底部》》》灰色的搜索/按钮区域
   * @yanhuiting
   */
.public-gray-region {
  padding: 13px 0;
  background-color: #f4f4f4;
}
/**
   * 操作成功/确认询问提示内容
   * @gzhidao
   */
.gt-success-enquire {
  text-align: left;
  font-size: 14px;
  color: #333;
  position: relative;
  height: 35px;
  line-height: 35px;
}
.gt-success-enquire .icont {
  font-size: 36px;
  color: #34d063;
  float: left;
  padding-right: 20px;
}
.gt-success-enquire .title {
  line-height: 20px;
}
.gt-success-enquire .dps {
  color: #666;
  line-height: 20px;
}
/**
   * 操作成功/确认询问框宽度
   * @gzhidao
   */
.el-dialog--askDeleteVisible {
  width: 560px;
  padding-bottom: 20px;
}
.el-dialog--askDeleteVisible .gt-success-enquire {
  padding-bottom: 140px;
}
/**
   * element弹框标题
   * @gzhidao
   */
.el-dialog__header {
  padding: 15px 20px;
  border-bottom: 1px solid #eeeeee;
  line-height: 1.3;
}
.el-dialog__title {
  font-size: 14px;
  color: #333;
}
.el-dialog {
  border-radius: 4px;
}
.el-dialog__body {
  padding: 30px;
}
/**
   * 复制链接弹框
   * @gzhidao
   */
.el-dialog--cope-link {
  width: 640px;
}
.el-dialog--cope-link .el-input {
  width: 320px;
  float: left;
  margin-right: 20px;
}
.el-dialog--cope-link .erwema {
  width: 160px;
  height: 160px;
  margin-right: 20px;
  float: left;
}
.el-dialog--cope-link .down {
  margin-top: 124px;
}
/**
   * element表单title字体颜色
   * @gzhidao
   */
.el-form-item__label {
  color: #333;
  padding-right: 30px;
}
/**
   * element 按钮字体大小
   * @gzhidao
   */
.el-button {
  font-size: 13px;
}
.gt-button-normal {
  height: 26px;
  line-height: 24px;
  padding: 0 10px;
  font-size: 12px;
}
/* 蓝色按钮 */
.blue {
  color: #20a0ff;
  background-color: #fff;
  border: 1px solid #20a0ff;
}
.blue:hover {
  background: #20a0ff;
  color: #fff;
}
/*
   * element 视频按钮
   * @gzhidao
  */
.gt-video-btn .gt-play {
  padding-right: 5px;
  font-size: 13px;
}
.community-post-picture .el-upload-list--picture-card .el-upload-list__item {
  width: 100px;
  height: 100px;
}
.community-post-picture .el-upload--picture-card {
  width: 100px;
  height: 100px;
  line-height: 110px;
}
/**
     * 金额输入框
     * @xiandan
     */
.RMBinput {
  position: relative;
  line-height: 1;
}
.RMBinput .el-input__inner {
  height: 32px;
  padding-left: 41px;
  text-align: center;
}
.RMBinput:before {
  position: absolute;
  top: 1px;
  left: 1px;
  content: '￥';
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #999;
  border-right: 1px solid #bfcbd9;
  background-color: #f6f6f6;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/**
     * 右上角删除样式
     * @xiandan
     */
.haveClose .el-icon-circle-close {
  position: absolute;
  right: -8px;
  top: -8px;
  opacity: 0.3;
  font-size: 18px;
  cursor: pointer;
}
/**
     * 公共提示样式
     * 格式
             <div class="public-tip">
                   <p>选择公告样式2后商家无需创建公告分组，直接添加新公告即可</p>
                   <i class="el-icon-arrow-down"></i>
             </div>
     * @xiandan
     */
.public-tip {
  position: relative;
  display: inline-block;
  color: #999;
  font-size: 14px;
  padding: 15px 10px;
  border: 1px solid #bfcbd9;
  border-radius: 5px;
  line-height: 1.2;
}
.public-tip .el-icon-arrow-down {
  position: absolute;
  bottom: -11px;
  left: 20px;
  color: #bfcbd9;
  font-size: 12px;
  background-color: #fff;
}
/* 
  * table title
  */
.public-table-title {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-top: 15px;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
}
.public-fl {
  float: left;
}
.public-fr {
  float: right;
}
.public-page-top {
  margin-top: 20px;
}
.public-top20 {
  margin-top: 20px;
}
.public-c333 {
  color: #333333;
}
.public-c666 {
  color: #666666;
}
.public-c999 {
  color: #999999;
}
.public-cb {
  color: #20a0ff;
  border-color: #20a0ff;
}
.public-cb:hover {
  background-color: #20a0ff;
  color: #fff;
}
.public-cgreen {
  color: #34d063;
}
.public-cred {
  color: #ff4949;
}
.public-f13 {
  font-size: 13px;
}
.public-bottom-btns {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #f5f5f5;
  padding: 10px 0;
  text-align: center;
}
.wallet-index .no-open {
  padding-top: 70px;
  text-align: center;
}
.wallet-index .no-open p {
  font-size: 14px;
  color: #333333;
  padding: 27px 0 70px;
}
.wallet-index .no-open i {
  color: #f7ba2a;
  font-size: 35px;
}
.wallet-index .top-msg {
  font-size: 14px;
  border: 1px solid #eeeeee;
  margin-top: 30px;
  overflow: hidden;
}
.wallet-index .top-msg .gray {
  background-color: #f8f8f8;
  padding: 27px 30px;
  overflow: hidden;
}
.wallet-index .top-msg .row1 {
  margin-bottom: 15px;
}
.wallet-index .top-msg .title {
  padding-right: 25px;
}
.wallet-index .data-msg {
  position: relative;
  padding: 15px 0;
  overflow: hidden;
}
.wallet-index .data-msg .num {
  color: #20a0ff;
  font-size: 24px;
  padding-right: 10px;
}
.wallet-index .data-msg .list {
  width: 90%;
}
.wallet-index .data-msg .list li {
  float: left;
  width: 33.33%;
  box-sizing: border-box;
  padding-left: 30px;
}
.wallet-index .data-msg .list li:nth-of-type(2) {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.wallet-index .data-msg .name {
  margin-bottom: 10px;
}
.wallet-index .data-msg .bts {
  position: absolute;
  top: 30px;
  right: 25px;
}
.wallet-index .data-msg .iconfont {
  color: #d2d2d2;
  cursor: pointer;
  position: relative;
}
.wallet-index .data-msg .item-tooltip {
  color: #999999;
  line-height: 30px;
}
.wallet-index .table-top-conent {
  background-color: #f8f8f8;
  padding: 15px 30px;
  overflow: hidden;
  font-size: 14px;
}
.wallet-index .table-top-conent .title {
  padding-right: 25px;
}
.wallet-index .table-top-conent .row {
  padding-bottom: 20px;
}
.wallet-index .table-top-conent .select-title {
  margin-right: 30px;
  cursor: pointer;
}
.wallet-index-select-apply-dialog {
  width: 640px;
}
.wallet-index-select-apply-dialog .check-content {
  overflow: hidden;
  padding-left: 30px;
}
.wallet-index-select-apply-dialog .check-list-item {
  margin-bottom: 30px;
  margin-left: 10px;
  width: 100px;
  float: left;
}
.wallet-index-select-apply-dialog .tips {
  font-size: 13px;
  margin-bottom: 30px;
}
.wallet-index-select-apply-dialog .el-dialog__body {
  padding-top: 10px;
}
